<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyShop</title>
   
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div id="brand">
             <h1>MyShop</h1>
        </div>
        <div id="navigation">
            <button class="button">Contacto</button>
            <button class="button">Buscar</button>
            <input type="text" id="search-bar" placeholder="  Buscar...">
        </div>
        <div class="iconos">
          <a href="{% url 'carrito' %}">
              <button class="icono-btn">
                  <i class="fa-solid fa-cart-shopping"></i> 
              </button>
          </a>
          <a href="{% url 'cuenta' %}">
          <button class="icono-btn">
              <i class="fa-solid fa-user"></i>
          </button>
        </a>
      </div>
    </header>
    <div class="user">
        <img src="{% static 'img/user.svg' %}" alt="">
    </div>
   
   
   
    <footer>
        © 2023 MyShop. Todos los derechos reservados.
    </footer>
</body>
</html>